<section class="px-9 lg:px-16 bg-white border-b border-gray-200">
  <nav class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-lg text-gray-700 bg-white">
    <div>
      <a href="/">
      <span class="mx-0 text-xl font-black leading-none text-gray-900 select-none"><img style="width: 20vh" src="https://res.cloudinary.com/dqdslxgem/image/upload/v1638177412/LogoAlexandria_o3saqx.png" alt=""></span>
      </a>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      id="menu-button"
      class="h-6 w-6 cursor-pointer md:hidden block"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>


            <% if user_signed_in? %>
            <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
      <ul
        class="
          pt-4
          text-base text-gray-700
          md:flex
          md:justify-between
          md:pt-0"
      >
          <li>
            <a class="md:p-4 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >About</a
            >
          </li>
          <li>
            <a class="md:p-4 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Blog</a
            >
          </li>
          <li>
            <a class="md:p-4 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Team</a
            >
          </li>
          <li>
            <a class="md:p-4 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Pricing</a
            >
          </li>
          <li>
            <a class="md:p-4 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Contact</a
            >
          </li>
          <li>
            <a class="md:p-4 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Terms</a
            >
          </li>
          <li class="md:p-4 font-light block hover:text-gray-300">
                      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-base font-light leading-6 text-gray-900 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-400" %>

            <% else %>

            <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
      <ul
        class="
          pt-4
          text-base text-gray-700
          md:flex
          md:justify-between
          md:pt-0"
      >
          <li>
            <a class="md:p-4 mt-1 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >About</a
            >
          </li>
          <li>
            <a class="md:p-4 mt-1 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Blog</a
            >
          </li>
          <li>
            <a class="md:p-4 mt-1 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Team</a
            >
          </li>
          <li>
            <a class="md:p-4 mt-1 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Pricing</a
            >
          </li>
          <li>
            <a class="md:p-4 mt-1 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Contact</a
            >
          </li>
          <li>
            <a class="md:p-4 mt-1 font-light block hover:text-gray-300" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"
              >Terms</a
            >
          </li>
          <li class="md:p-4 block hover:text-gray-300 mt-1">

            <div class="login-signup lg:flex-row lg:inline-flex lg:items-center lg: space-x-4 lg:justify-end">
              <%= link_to "Log in", new_user_session_path, class: "sm:text-base font-medium leading-6 text-gray-900 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-400" %>

            </div>

            <li class="md:p-4 block hover:text-gray-300">

              <div class="login-signup lg:flex-row lg:inline-flex lg:items-center lg: space-x-4 lg:justify-end">
                <%= link_to "Sign up", new_user_registration_path, class: "sign-up-button inline-flex items-center justify-center w-full lg:px-8 transition duration-150 ease-in-out py-2 text-base font-bold leading-3 text-white bg-gray-900 border border-transparent rounded-full md:pl-4 pr-4   hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600" %>
              </div>
            </li>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
</section>
