@import "tailwindcss/base";
@import "tailwindcss/components";

/*! purgecss start ignore */
// @import "components/buttons";
.close-modal-x:before {
  content: '✕';
}
.close-modal-x {
  position: absolute;
  top: 4px;
  right: 8px;
  cursor: pointer;
}
.close-add-modal-x:before {
  content: '✕';
}
.close-add-modal-x {
  position: absolute;
  top: 4px;
  right: 8px;
  cursor: pointer;
}
// body {
//   @apply min-h-screen;
// }
/*! purgecss end ignore */

@import "tailwindcss/utilities";
