<div class="modal hidden">
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <!--
        Background overlay, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true">
      </div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg">
        <div class="max-w-2xl mx-auto">
          <div class="flex flex-col items-center md:flex-row justify-center">
            <div class="w-full mt-4 md:mt-0 md:w-full">
              <div class="relative z-10 h-auto p-6 overflow-hidden bg-white border-solid border-2 border-gray-100 rounded-lg">
                <h6 class="mb-6 text-xl font-medium text-center">
                  Add a new Batch
                </h6>
                <%= simple_form_for @batch do |f| %>
                  <div class="flex flex-col items-center md:flex-row justify-center">
                    <div>
                      <%= f.input :name,
                                  autofocus: true,
                                  label: false,
                                  placeholder: "Batch Name",
                                  input_html: { autocomplete: 'off' }, class: "block w-full px-4 my-0 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-black focus:outline-none" %>
                      <%= f.input :tuition_cost,
                                  autofocus: true,
                                  label: false,
                                  placeholder: "Tuition Cost",
                                  input_html: { autocomplete: 'off' }, class: "block w-full px-4 my-0 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-black focus:outline-none" %>
                      <div class="">
                        <%= f.button :submit, "Add", class: "w-full px-1 text-sm my-0 bg-black cursor-pointer hover:bg-gray-600 text-white rounded-lg" %>
                      </div>
                    </div>
                  </div>
                <% end %>
                </div>
                <span class="close-modal close-modal-x z-10">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
