details {
    border: 1px solid #E5E7EB ;
    border-radius: 8px;
    padding: 0.5em;
    padding-left: 1em;
    background-color: white;
    color: #333333;
    width: 100%;

}

details[open] {
  padding: 0.5em;
  padding-left: 1em;
}

details[open] summary {
    overflow: hidden;
    margin-bottom: .5em;
}
