@media (max-width: 640px) {

  .sign-up-button{
    margin-left: 0 !important;
    width: 50% !important;
    margin-top: 11px !important;
    align-items: flex-center;

}

.login-signup{
    flex-direction: column;
    display: flex;
    align-items: flex-start;

}

}
